h1 Job Details

p title:#{title}
p location:#{location.title}


h1 Instructor Details

each instructor in instructors
    p name:#{instructor.name}
    p email:#{instructor.email}

h1 Course Details

p title : #{course.title}
p duration : #{course.duration}

h3 Time Frequency:#{startingDate} with every #{totalDays[0]}