p Hello Instructor, you have been assigned to a #{title}. Below are the Job details.

h3 Job Details

p title:#{title}
p location:#{location.title}


h3 Instructor Details

each instructor in instructors
    p name:#{instructor.name}
    p email:#{instructor.email}

h3 Course Details

p title : #{course.title}
p duration : #{course.duration}

h3 Time Frequency:#{startingDate} with every #{totalDays[0]}