h3 Hello #{instructor.name} 

h3 Job Detail 

p title - #{title}

h3 Course Detail

p title - #{course.title}
p Duration - #{course.duration}

h3 Client Detail

p name - #{client.name}
p location - #{location.title}



