h3 Learner Detail

p Name-#{learner.learnerName}
p Email-#{learner.learnerEmail}


h3 Assignment Detail

p #{assignment.assignmentTitle}
p Unit-#{assignment.assignmentUnit}
p Assignment-#{assignment.assignmentNo}

p Status-#{assignment.assignmentStatus}


