h3 Learner Detail

p Name-#{learner.learnerName}
p Email-#{learner.learnerEmail}


h3 Assignment Detail

p #{assignment.assignmentTitle}
p Unit-#{assignment.assignmentUnit}
p Assignment-#{assignment.assignmentNo}

p Status-#{assignment.assignmentStatus}

h3 Course Detail

p title:#{course.courseTitle}
p duration:#{course.courseDuration} 

h3 Client Detail

p title:#{client.clientName}
p location:#{client.location}



