h3 Learner Detail

p Name-#{learner.learnerName}
p Email-#{learner.learnerEmail}


h3 Assignment Detail

p Title: #{assignment.assignmentTitle}
p Unit: #{assignment.assignmentUnit}
p Assignment: #{assignment.assignmentNo}

p Status: #{assignment.assignmentStatus}

h3 Course Detail

p Title: #{course.courseTitle}
p Duration: #{course.courseDuration} 

h3 Client Detail

p Title: #{client.clientName}
p Location: #{client.location}







