p Hello #{learner.name},

p Greetings of the day !!!

p You have been enrolled to #{jobDetail.course.title} at #{jobDetail.location.title}.

p Here is the link where you can login to start with the course.

p Your username is : #{learner.email}

p Your password is : #{learner.password}

p You will be able to view the assignments and materials assigned to you in this portal. You will also be submitting your assignments here.

p In case of any questions regarding the portal, you can reach out to your instructor.

p All the best !!! 


